.inlineContent{
    display:inline-block ;
}
.content1{
    background-color:black ;
    width:400px;
    max-width: 100%;
    border-radius: 15px;
    padding:30px;
    align-items: center;
    margin-top: 20px;
    color:wheat;
    display: inline-block;
}
