{% load static %}
{% include 'header.html' %}

<title>Forms</title>

<div class="row">
    <div class="col-md-12">
        <h1 style="text-align: center;margin-top: 5%;">Daftarkan Jadwal Kalian</h1>
    </div>
</div>

<div class="container" style="margin-top: 5%;">
    <form action="/addMataKuliah/" class="was-validated" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="nama">Nama Mata Kuliah :</label>
          <input type="text" class="form-control" id="nama" placeholder="Masukkan nama matkul " name="namaMatkul" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        
        <div class="form-group">
          <label for="dosen">Nama Dosen :</label>
          <input type="text" class="form-control" id="dosen" placeholder="Masukkan nama dosen" name="dosenPengajar" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <label for="dosen">Tahun Ajaran :</label>
          <input type="text" class="form-control" id="tahunAjaran" placeholder="Masukkan tahun ajaran dengan format (xxxx/xxxx)" name="tahunAjaran" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
            <label for="jumlahSKS">Jumlah SKS :</label>
            <input type="text" class="form-control" id="jumlahSKS" placeholder="Masukkan jumlah SKS" name="jumlahSKS" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
            <label for="ruangKelas">Ruang Kelas :</label>
            <input type="text" class="form-control" id="ruangKelas" placeholder="Masukkan ruang kelas" name="ruangKelas" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Deskripsi mata kuliah : </label>
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10" name="deskripsi"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>