<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'static/index.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'homepage:index' %}">Home</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:form' %}">Form Submission</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'homepage:listMatkul' %}">List Mata Kuliah</a>
                </li>
            </ul>
        </nav>
    </body>
</html>

