<!DOCTYPE html>
{% load static %}
{% include 'header.html' %}

<title>HomePage</title>


<div class="container">
    <div class="page-header">
        <h2>Welcome</h2>
    </div>
    <p>Welcome to my webpage i'll be talking about my profile in this website</p>
</div>

