{% load static %}
{% include 'header.html' %}

<title>List Mata Kuliah</title>

<div class="row">
    <div class="col-md-12" style="margin-top:5%;">
        <h1 style="text-align: center;">Daftar Mata Kuliah</h1>
    </div>
    
    {% for matakuliah in info_matkul %}
    <div class="col-md-6" style="margin-top: 5%">
        <h2 style="margin-left: 25%;">{{ matakuliah.nama }}</h2>
        <ul style="margin-left:25%;">
            <li>Nama dosen : {{ matakuliah.dosen }}</li>
            <li>Tahun Ajaran : {{ matakuliah.tahunAjaran }}</li>
            <li>Jumlah SKS : {{ matakuliah.jumlahSKS }}</li>
            <li>Ruang Kelas : {{ matakuliah.ruangKelas }}</li>
            <li>Deskripsi :<br>{{ matakuliah.deskripsi }}</li>
        </ul>
    </div>  
    {% endfor %}
        
