{% load static %}
{% include 'header.html' %}
<title>Profile Page</title>


<div class= "container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <img src="{% static 'img/profpic.jpg' %}" style="width: 250px;height: 225px; border-radius:100%;margin-left: 200px;">
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>Selamat Datang</h1>
            <p style="font-size:20px;">Saya Ahsan</p>
            <div class="inlineContent" style="margin-top: 40px;">
                <a href="https://www.instagram.com/ahsincostan/">
                    <img src="{% static 'img/instagram.jpg' %}" alt="instagram" style="width: 30px;height: 30px;border-radius: 100%;">
                </a>
                <a href="https://twitter.com/ahsannajmy">
                    <img src="{% static 'img/twitter.png' %}" alt="twitter" style="width: 30px;height: 30px;border-radius: 100%;">
                </a>
                <a href="https://www.facebook.com/ahsannajmy/">
                    <img src="{% static 'img/facebook.png' %}" alt="facebook" style="width: 30px;height: 30px;border-radius: 100%;">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="content1" style="margin-left:100px">
                <h2>Profil : </h2>
                <ul style="margin-top: 20px;">
                    <li>Nama Lengkap : Ahsan Najmy Ramadhan Putra Aji</li>
                    <li>Pendidikan Sekarang : Fakultas Ilmu Komputer, Universitas Indonesia</li>
                    <li>NPM : 1906398641</li>
                    <li>Angkatan : 2019</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="content1">
                <h2>Riwayat Pendidikan</h2>
                <ul style="margin-top: 20px;">
                    <li>SD  (2007-2013) : Al-Azhar 2 Pasar Minggu</li>
                    <li>SMP (2013-2016) : SMPN 2 Negeri Depok</li>
                    <li>SMA (2016-2019) : SMAN 26 Negeri Jakarta</li>
                </ul>
            </div>
        </div>
    </div>

</div>

